<!-- wp:template-part {"slug":"header-transparent" ,"tagName":"header"} /-->
<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"furnitrix/header-media"} /-->
    <!-- wp:pattern {"slug":"furnitrix/featured-products"} /-->
    <!-- wp:pattern {"slug":"furnitrix/hero-content"} /-->
    <!-- wp:pattern {"slug":"furnitrix/featured-content"} /-->
    <!-- wp:pattern {"slug":"furnitrix/subscribe"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->